# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Mac and Windows system files
.DS_Store
Thumbs.db

# Generated data
generated_images/
generated_labels/

augmented_images/
yolo_data/

# Logs
*.log

# Python egg files
*.egg-info/
dist/
build/ 